body{
    background-color: rgb(75, 14, 37);
    display: flex;
}

.container1{
    background: rgb(63,94,251);
    background: -moz-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    border-color: #ffffff;
    width: 20rem;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(64, 31, 212, 0.2);
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    background: transparent;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;

}

.inp::placeholder{
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;

}

.inp:focus::placeholder{
    opacity: 1;
}

.inp:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffb870;
}

.inp:focus,
.inp:not(:placeholder-shown){
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffb870;
}

.result{
    position: relative;

}

.result h3{
    font-size: 30px;
    color: #1f194c;
}

.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.result .details{
    display: flex;
    gap: 10px;
    color: #c38539;
    margin: 5px 0 20px 0;
    font-size: 14px;

}

.meaning{
    color: #c38539;

}

.example{
    color: #76af21;
    font-style: italic;
    border-left: 5px solid #5f104d ;
    padding-left: 20px;
    margin-top: 30px;
    text-align: justify;
}

.c2{
    background: rgb(63,94,251);
    background: -moz-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(42,42,49,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(42,42,49,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(42,42,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#2a2a31",GradientType=1);
    border-color: #ffffff;
    width: 20rem;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(64, 31, 212, 0.2);
}

@media only screen and (max-width : 425px){
    .container1 , .c2{
        left: 0;
    }
}